* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: .5rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ff004f;
  }

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(/images/gif1.gif);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 3%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li {
    display:flex;
    flex-direction: column;
    list-style: none;
    margin: 15px 20px; 
    align-items: end; 
    position: relative;
}

.check{
    position: absolute;
    left: 60px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 60%;
    font-size: 25px;
    position: relative;
}

.header-text h1 {
    font-size: 38px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #ff004f;
}


/* ----------ABOUT---------- */
#about {
    padding: 80px 0px;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
    max-width: 350px;
}


.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    margin-bottom: .5em;
}

.sub-title-text{
    width: 100%;
    max-width: 350px;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    
}

.tab-contents ul li span {
    color: #b54768;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ----------SERVICES---------- */
#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 15px;
    line-height: 30 px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #ff004f;
    transform: translateY(-10px);
}

/* ----------PORTFOLIO---------- */
#portfolio {
    padding: 50px 0;
    overflow: hidden;
    position: relative;
}

.work-list {
    display: flex;
    animation: slide 150s linear infinite;
}

@keyframes slide {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 90% {
        transform: translateX(-100%);
    }
    20%, 80% {
        transform: translateX(-200%);
    }
    30%, 70% {
        transform: translateX(-300%);
    }
    40%, 60% {
        transform: translateX(-400%);
    }
    50% {
        transform: translateX(-500%);
    }
}


.work {
    width: 300px; 
    margin-right: 20px; 
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0; 
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%; 
    background: #ff004f;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    transition: height 0.5s;
}

.layer h2 {
    margin-bottom: 10px;
}

.layer a {
    margin-top: 10px;
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}


.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    transition: background 0.75s;
}

.btn:hover {
    background: #ff004f;
}

/* ----------CONTACT---------- */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: color 0.5s, transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block
}

.btn.btn3 {
    background: #080808;
    margin-top: 30px;
    transition: background 0.5;

}

.btn.btn3:hover {
    background: #ff004f;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i {
    color: #ff004f;
    transition: color 0.5s;
}

.copyright i:hover {
    color: #fff;
}

nav .fas {
    display: none;
}

/* Checkbox for en/es */

.en{
    color: #fff;
}

.es{
    color: #ff004f;
}

.check{
    position: relative;
    width: 40px;
}

.check::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 20px;
    background: #333;
    border-radius: 20px;
}

.check::after{
    content: 'ES';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 20px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
    font-size: 9px;
    color: #ff004f;
    text-align: center;
    line-height: 16px; 
    padding: 0; 
}

.check:checked::after{
    left: 20px;
    border: 2px solid #ff004f;
}

.check:checked::before{
    background: #ff004f;
}

.nav__btn {
    background-color: transparent;
    color: white;
    border: none;
}

.buttons{
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: transparent;
    color: white;
    border: none;
    margin-left: 20px;
}

/* ======= LIGHTMODE ======== */
body.light-mode {
    background-color: #fff;
    color: black; 
}

.btn--moon {
    display: none;
}
  
.btn--sun {
    display: inline-block;
}

.light-mode #header {
    background-image: url(/images/gif2.gif);
}

.light-mode .logo {
    content: url(/images/logo-black.png);
}

.light-mode .sub-title,
.light-mode .sub-title-text,
.light-mode .header-nav-text,
.light-mode .bx, 
.light-mode .tab-titles,
.light-mode .tab-contents{
    color: #080808;
}

.light-mode .services-list div {
    color: #fff;
}

.light-mode .work{
    color: #fff;
}

.light-mode .sub-title{
    color: #ff004f;
}

.light-mode .btn2,
.light-mode .fa-github,
.light-mode .fa-linkedin{
    color: #080808;
}

.light-mode .copyright{
    color: #fff;
    background-color: #ff004f;
}

@media screen and (min-width: 500px ){

    @keyframes slide {

        20%, 100% {
            transform: translateX(0);
        }
        10%, 50% {
            transform: translateX(-100%);
        }
    
    }
    
    nav ul li {
        display: inline-block;
    }
    
    nav ul li a {
        font-size: 18px;
    }
        
    .header-text {
        margin-top: 20%;
        font-size: 30px;
    }
    
    .header-text h1 {
        font-size: 60px;
    }
    
    /* ----------ABOUT---------- */
    
    .about-col-2 {
        padding: .1em;
        max-width: 1000px;
    }

    .sub-title-text{
        width: 100%;
        max-width: 600px;
    }

    .check{
        left: 0px;
    }
    
    .buttons{
        display: inline-block;
    }
    
}